<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Monuments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Monuments</a>
    </div>
    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
      <li><a href="/home">Home</a></li>
      <li class="active"><a href="/departement">Département</a></li>
      <li><a href="/monument">Monuments</a></li>
      <li><a href="/celebrite">Célebrités</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Déconnexion</a></li>
    </ul>
  </div>
</nav>


<body>


<h1>Département</h1>

<div class="container">

<table  class ="table table-striped ">

<thead>
<tr>
<th>dep</th><th>chefLieu</th><th>nomDep</th><th>reg</th>
</thead>
<tbody>
   <tr th:each="departement : ${listDepartement}">
	<td th:text="${departement.dep}">${departement.dep}</td>
	<td th:text="${departement.chefLieu}">${departement.chefLieu}</td>
	<td th:text="${departement.nomDep}">${departement.nomDep}</td>
	<td th:text="${departement.reg}">${departement.reg}</td>
   </tr>
</tbody>
</table>
</div>
</body>
</html>