<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
	<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Monument</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/departement">Département <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/monument">Monuments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/celebrite">Célebrités</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button onclick = "location.href='/'" class="btn btn-outline-success my-2 my-sm-0" type="button">Déconnexion</button>
    </form>
  </div>
</nav>
<body>
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Recherche <b>Célébrités</b></h2></div>
                    <div class="col-sm-4">
                        <button onclick = "location.href='addCelebrite'" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Ajouter</button>
                    </div>
                </div>
            </div>
            <div>
				<form th:action="@{/rechercher}" method="get">
					<p> NumCelebrite: <input type="text" name="numCelebrite"></p>
					<p><input type="submit" value ="submit"/></p>
				</form>
			</div>
            <table class="table table-bordered">
            
                <thead>
                    <tr>
	                    <th>NumCélébrité</th>
	                    <th>Epoque</th>
	                    <th>Nationalité</th>
	                    <th>Nom</th>
	                    <th>Prénom</th>                        
	                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="celebrite : ${celebrite}">
						<td th:text="${celebrite.numCelebrite}">${celebrite.numCelebrite}</td>
						<td th:text="${celebrite.epoque}">${celebrite.epoque}</td>
						<td th:text="${celebrite.nationalite}">${celebrite.nationalite}</td>
						<td th:text="${celebrite.nom}">${celebrite.nom}</td>
						<td th:text="${celebrite.prenom}">${celebrite.prenom}</td>
                        <td> 
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a th:href="@{/edit/}+ ${celebrite.numCelebrite}"class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a th:href="@{/delete/} + ${celebrite.numCelebrite}"class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>     
</body>
</html>









