
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Add celebrity Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<style type="text/css">
	
</style>
</head>
<body>
<div class="signup-form">
	<form action="#" th:action="@{/update/{numCelebrite}(numCelebrite=${celebrite.numCelebrite})}" th:object="${celebrite}" method="post">
		<h2>Modification d'une Célébrité</h2>
		<p class="hint-text">Veuillez modifier les informations de la célébrité</p>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input type="text" th:field="*{nom}" class="form-control" name="nom" placeholder="Nom" required="required"></div>
				<div class="col-xs-6"><input type="text" th:field="*{prenom}" class="form-control" name="prenom" placeholder="Prénom" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
        	<input type="text" th:field="*{epoque}" class="form-control" name="epoque" placeholder="Epoque" required="required">
        </div>
		<div class="form-group">
            <input type="text" th:field="*{nationalite}" class="form-control" name="nationalite" placeholder="Nationalité" required="required">
        </div>
		<div class="form-group">
            <input type="number" th:field="*{numCelebrite}" class="form-control" name="numCelebrite" placeholder="Numéro Célébrité" required="required">
        </div>        

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Enregistrer</button>
        </div>
    </form>
</div>
</body>
</html>                            